<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
    <!--<button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>-->
  </ng-template>

  <ng-template pTemplate="right">
    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
  </ng-template>
</p-toolbar>
<p-table
  #dt1
  [value]="departaments"
  dataKey="id"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [globalFilterFields]="['number', 'departamentState', 'renter.name','renter.lastname','renter.dni','address.neighborhood','address.number','address.street']"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h5 class="m-0">Manage Products</h5>
      <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"  placeholder="Search..." />
                </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th  style="min-width:15rem">
        <div class="flex align-items-center">
          numero departamento
          <p-columnFilter type="text" field="number" ></p-columnFilter>
        </div>
      </th>
      <th style="min-width:15rem">
        <div class="flex align-items-center">
          estado del departamento
          <p-columnFilter type="text" field="departamentState"></p-columnFilter>
        </div>
      </th>
      <th style="min-width:15rem">
        <div class="flex align-items-center">
          nombre
          <p-columnFilter type="text" field="renter.name" ></p-columnFilter>
        </div>
      </th>
      <th style="min-width:15rem">
        <div class="flex align-items-center">
          apellido
          <p-columnFilter type="text" field="renter.lastname" ></p-columnFilter>
        </div>
      </th>
      <th style="min-width:15rem">
        <div class="flex align-items-center">
          dni
          <p-columnFilter type="text" field="renter.dni" ></p-columnFilter>
        </div>
      </th>
      <th style="min-width:15rem">
        <div class="flex align-items-center">
          barrio
          <p-columnFilter type="text" field="address.neighborhood" ></p-columnFilter>
        </div>
      </th>
      <th style="min-width:15rem">
        <div class="flex align-items-center">
          calle
          <p-columnFilter type="text" field="address.street" ></p-columnFilter>
        </div>
      </th>
      <th style="min-width:15rem">
        <div class="flex align-items-center">
          numero calle
          <p-columnFilter type="text" field="address.number" ></p-columnFilter>
        </div>
      </th>
      <!--<div class="flex align-items-center">
      telefono
        <p-columnFilter field="phone" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
          <ng-template pTemplate="header">
            <div class="px-3 pt-3 pb-0">
              <span class="font-bold">telefono</span>
            </div>

          </ng-template>
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect [ngModel]="value" [options]="renters" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
              <ng-template let-option pTemplate="item">
                <div class="inline-block vertical-align-middle">
                  <img [alt]="option.label" src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}" width="24" class="vertical-align-middle" />
                  <span class="ml-1 mt-1">{{ option.name }}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
      </div>-->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-departament>
    <tr>
      <td>
        {{ departament.number }}
      </td>
      <td>
        <span class="ml-1 vertical-align-middle">{{ departament.departamentState }}</span>
      </td>
      <td>
        <span class="ml-1 vertical-align-middle">{{ departament.renter.name }}</span>
      </td>
      <td>
        <span class="ml-1 vertical-align-middle">{{ departament.renter.lastname }}</span>
      </td>
      <td>
        <span class="ml-1 vertical-align-middle">{{ departament.renter.dni }}</span>
      </td>
      <td>
        <span class="ml-1 vertical-align-middle">{{ departament.address.neighborhood }}</span>
      </td>
      <td>
        <span class="ml-1 vertical-align-middle">{{ departament.address.street }}</span>
      </td>
      <td>
        <span class="ml-1 vertical-align-middle">{{ departament.address.number }}</span>
      </td>

    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No direccion found.</td>
    </tr>
  </ng-template>
</p-table>
