<div class="flex">
  <div mat-dialog-content class="inline font-bold  p-4 border-round mx-4">
    <h1 mat-dialog-title>Mi perfil</h1>

    <p class="text-black-alpha-90	">Nombre: <mat-label class="text-blue-500" >{{this.user.name}}</mat-label></p>
    <p class="text-black-alpha-90	">Apellido: <mat-label class="text-blue-500" >{{this.user.lastname}} </mat-label></p>
    <p class="text-black-alpha-90	">Nombre de usuario: <mat-label class="text-blue-500" > {{this.user.username}} </mat-label> </p>
    <p class="text-black-alpha-90	">Correo electrónico: <mat-label class="text-blue-500" > {{this.user.email}} </mat-label> </p>
    <p class="text-black-alpha-90	">Email verificado: <mat-label class="text-blue-500" > {{this.user.verifiedEmail}} </mat-label> </p>
    <p class="text-black-alpha-90	">Documento:<mat-label class="text-blue-500" >  {{this.user.document}}</mat-label></p>

  </div>
  <div mat-dialog-content class="inline  font-bold  p-4 border-round mx-4" 	>
    <h1 mat-dialog-title>Mis configuraciones</h1>
    <p class="text-black-alpha-90	">
      IA para búsqueda de productos por voz
      <p-checkbox [(ngModel)]="isSearchByVoiceEnable" (onChange)="modifySearchByVoice()" [binary]="true" inputId="binary"/>
    </p>
    <p class="text-black-alpha-90	">



    </p>
  </div>
</div>


<div mat-dialog-actions>
  <p-button pRipple label="Editar datos personales" (click)="this.returnToAdministrationAccount()" ></p-button>
</div>
