<div class="container">

  <p-menubar [model]="routes" >
      <ng-template pTemplate="start" class="z-index">
        <img ngSrc="assets/images/logo-first.png" height="40" width="40"  class="mr-2 logo-krauser" style="cursor: pointer" alt="">
      </ng-template>

      <ng-template pTemplate="end">
        <app-menu-detail-users> </app-menu-detail-users>

      </ng-template>
  </p-menubar>
<router-outlet></router-outlet>
</div>

<app-footer></app-footer>
