<p-menubar [model]="items">
  <ng-template pTemplate="start">
      <img src="../../../assets/logo-fir.png" height="40" class="mr-2" />
  </ng-template>
  <ng-template pTemplate="end">
      <input type="text" pInputText placeholder="Search" styleClass="w-full" />
  </ng-template>
</p-menubar>
