<div class="user-container"><!-- hola -->
  <p-table
    #dt1
    [value]="users"
    [lazy]="true"
    responsiveLayout="scroll"
    dataKey="id"
    (onSort)="customSort($event)"
    [customSort]="true"
    (onFilter)="customFilter($event,dt1)"
    [rows]="10"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [globalFilterFields]="[
          'username',
           'email',
           'creationDate',
           'role',
           ]">
    <ng-template pTemplate="caption">

    </ng-template>

    <ng-template pTemplate="header">
      <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
      <tr>
        <th pSortableColumn="username">
          <label>Nombre de usuario </label>
        </th>
        <th pSortableColumn="email">
          <label>Correo electronico</label>
        </th>
        <th pSortableColumn="creationDate">
          <label>Fecha de creación</label>

        </th>
        <th pSortableColumn="role">
          <label>Rol</label>

        </th>
        <th >Acciones</th>
    </ng-template>
    <ng-template pTemplate="body" let-user >
      <tr [pSelectableRow]="user">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.createdOn | date: 'dd/MM/yyyy'}}</td>
        <td>Empleado</td>
        <td >
          <div style="display: inline-flex">

          <button mat-icon-button color="primary"  (click)="redirectToDetails(user)" title="Detalle">
            <mat-icon>find_in_page</mat-icon>
          </button>
         <!-- <button mat-icon-button color="accent" (click)="redirectToUpdate(user.id)" title="Modificar">
            <mat-icon class="mat-18">edit</mat-icon>
          </button>
          </div>
          <button mat-icon-button color="warn" (click)="showDialog(user.id)" title="Eliminar">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>-->
          </div>
        </td>

      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    (onPageChange)="pagingTable($event, dt1)"
    [rowsPerPageOptions]="[20,30,40]"
    [rows]="numberOfRows"
    [totalRecords]="totalRecords">
    currentPageReportTemplate="mostrando de {{first}} a {{last}} de {{totalRecords}} ingresos">
  </p-paginator>
</div>
<p-toast></p-toast>

