.user-container{
  margin: 20px;
  border: 1px solid #d8d8d8;
  background-color: #FFFFFF;
}
.container-button-create-user{
  margin-left: 2%;
}
table {
  width: 100%;
}
.mat-paginator-page-size-label{
  background-color: red;
}


.button-create-user{
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.mat-footer-cell, th.mat-header-cell {
  color: #1b2437;
  font-weight: bold;
  font-size: 0.9em;
}

.user-container::ng-deep .p-datatable .p-datatable-tbody > tr > td{
  text-align: center;
}
.user-container::ng-deep .p-datatable .p-datatable-thead > tr > th{
  text-align: center;
}
