h5{
  float: left;
  color: #eef2f6;
  position: relative;
  font: 50px monospace;
}
.contenedor{
  margin: 30px;
  border: 1px solid #d8d8d8;
  background-color: #FFFFFF;
  text-align: -webkit-center;
}
.welcome{
  margin: auto;
  display: table;
  font-family: monospace;
  position: center;
  margin: 100px;
}


h5 span{
  position: absolute;

  right: 0;
  width: 0;
  background: #FFFFFF;
  border-left: 1px solid #000;
  animation: maquina 2.5s  steps(26);

}
@keyframes maquina {
  from {
    width: 100%;

  }
  to{
    width: 0%;
  }

}
