<div class="background-box">
  <div class="containers">
    <p-toast></p-toast>
    <div class="divDeForm">
      <form [formGroup]="registroUsuario">
        <h5 class="h5CargaDeUsuario">{{ textRegister }}</h5>
        <div class="div-form">
          <mat-form-field class="form-field-username" appearance="fill">
            <mat-label>Correo electronico institucional</mat-label>
            <input
              type="string"
              matInput
              placeholder="Ingrese el correo electrónico institucional"
              formControlName="email"
              [maxLength]="50"
            />
          </mat-form-field>
        </div>
        <div class="div-form">
          <mat-form-field class="formFieldRole" appearance="fill">
            <mat-label>Seleccione el origen de este usuario</mat-label>
            <mat-select formControlName="originName">

            </mat-select>
          </mat-form-field>
        </div>
        <div class="divBotones">
          <button
            class="buttonGuardar"
            mat-raised-button
            color="primary"
            [disabled]="registroUsuario.invalid || !validateEmail(registroUsuario.get('email')?.value)"
            (click)="saveUser()"
          >
            <div>Guardar</div>
          </button>
          <label class="label1"></label>
          <button
            class="buttonCancelar"
            (click)="this.navigateToUsers()"
            mat-raised-button
            color="warn"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
