h4Carga {
  color: #eb1f3f;
}
.divDeForm {
  margin: 3px;
}
.containers {
  margin: 5px;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
}

.h5CargaDeUsuario {
  font-size: x-large;
  padding: 10px;
  padding-left: 0;
}


mat-form-field {
  margin-top: 15px;
  width: 100%;
}

.divBotones {
  text-align: -webkit-right;
  margin: 30px;
  margin-right: 0;
}

.label1 {
  padding: 3px;
}

.buttonGuardar {
  background-color: #1b2437;
  color: white;
  width: 100px;
}

.buttonCancelar {
  width: 100px;
}

form {
  text-align: -webkit-left;
  background-color: white;
}
