<h1 mat-dialog-title>Detalle del usuario</h1>
<div mat-dialog-content>
  <p class="m-0">Nombre: {{data.user.firstName}}</p>
  <p class="m-0">Apellido: {{data.user.lastname}}</p>
  <p class="m-0">Nombre de usuario: {{data.user.username}}</p>
  <p class="m-0">Correo electrónico: {{data.user.email}}</p>
  <p class="m-0">Fecha de creación: {{data.user.createdOn}}</p>
  <p class="m-0">Rol: Empleado</p></div>
<div mat-dialog-actions style="justify-content: end">
  <button mat-button mat-dialog-close="" >Cerrar</button>
</div>
