
<footer class="footer4">
  <div class="container">
    <p>  © Desarrollado por <a href="https://krauser.com.ar">Krauser </a></p>

  <!--  <ul class="menu">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Pricing</a>
      </li>
    </ul>-->
    <ul class="media-icons">
      <li>
        <a href="https://www.facebook.com/people/Krauser/61555360312236/" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/krauser2021" target="_blank" >
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/krauser2021k/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <!--<li>
        <a href="#">
          <i class="fab fa-tumblr"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>-->
    </ul>
  </div>
</footer>
<div>
</div>
