  <mat-accordion class="logout" >

    <mat-expansion-panel  class="example-headers-align">
      <mat-expansion-panel-header class="panel-box">
        <mat-panel-description class="user-text">
          <mat-icon style="padding-right: 30px">account_circle</mat-icon>
          <div>
            {{this.username}}
          </div>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="buttons" style="width: max-content">
        <button  class="user-button cursor"  mat-raised-button (click)="showDialogPersonalInformation()">
          <i class="pi pi-cog" style="font-size: 1rem"></i>
          <label class="cursor">Configuración</label>
        </button>
      </div>
      <div class="buttons" style="display:none">
        <button class="user-button cursor" style="width:100%" (click)="showDialogPersonalInformation()" mat-stroked-button >
          <i class="pi pi-user"></i>
          <label class="cursor">
            Mi cuenta
          </label>
        </button>
      </div>
      <div class="buttons">
        <button  class="user-button cursor" (click)="logout()" mat-raised-button>
          <span class="material-icons">logout</span>
          <label class="cursor">Cerrar Sesión</label>
        </button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
  <p-button class="sidebar-button" (click)="isVisibleSidebar = true" icon="pi pi-align-justify"></p-button>
  <p-sidebar [(visible)]="isVisibleSidebar" position="right">
    <button  class="user-button" (click)="logout()" mat-raised-button>
      <span class="material-icons">logout</span>
      <label>Cerrar Sesión</label>
    </button>  </p-sidebar>
