.position {
  position: absolute;
}
.logout{
  margin-top: 1px;
  width: 200px;
  height: 48px;
  float: right;
  margin-right: 30px;
  z-index: 100;
  position: relative;
}
.sidebar-button {
  display: none;
}


.cursor {
  cursor: pointer;
}
