<ul>


  <li >
    <span></span> Nombre: {{data.name}}
  </li>
  <li >
    <span></span> Apellido: {{data.lastname}}
  </li>
  <li >
    <span></span> Correo electronico: {{data.email}}
  </li>

  <li>
    <span ></span>Fecha de creación: {{data.creationDate}}
  </li>
  <li>
    <span ></span>Rol: {{data.role}}
  </li>

</ul>
